<%- include('partials/header') -%>
<div class="overflow-hidden bg-white shadow sm:rounded-lg">
    <div class="px-4 py-5 sm:px-6">
      <h3 class="text-lg font-medium leading-6 text-gray-900">Applicant Information</h3>
      <p class="mt-1 max-w-2xl text-sm text-gray-500">Personal details and application.</p>
        <%if(goal.user == user.id){ %>
            <form
            action="/goal/deleteGoal/<%= goal.id %>?_method=DELETE"
            method="POST"
            class="col-3"
            >
            <button class="btn btn-primary fa fa-trash" type="submit"></button>
            </form>
        <%}%>
    </div>
    <div class="border-t border-gray-200">
      <dl>
        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">Goal Area</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= goal.goalArea %></dd>
        </div>
        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">Goal</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= goal.goal %></dd>
        </div>
        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">Objective 1</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= goal.objective1 %></dd>
        </div>
        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">Objective 2</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= goal.objective2 %></dd>
        </div>
        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">Objective 3</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= goal.objective3 %></dd>
        </div>  
        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">Objective 4</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= goal.objective4 %></dd>
          </div>   
      </dl>
    </div>
  </div>
  
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-6">
      <h2><%= goal.goalArea %></h2>
      <h3><%= goal.goal %></h3>

    </div>
    <div class="col-3 mt-5">
      <h4>Objective 1</h4>
      <p><%= goal.objective1 %></p>
      <h4>Objective 2</h4>
      <p><%= goal.objective2 %></p>
      <h4>Objective 3</h4>
      <p><%= goal.objective3 %></p>
      <h4>Objective 4</h4>
      <p><%= goal.objective4 %></p>
      <h4>Students Assigned</h4>
        <ul class="row list-unstyled">
            <% for(var i=0; i<goal.studentsAssigned.length; i++) {%>
            <li class="col-6 justify-content-between mt-5">
                <a href="/student/<%= goal.studentsAssigned[i]%>">
                    <span class="text"><%= goal.studentsAssigned[i]%></span>
                </a>
            </li>
            <% } %>
        </ul>
      <p><%= goal.studentsAssigned %></p>
    </div>
    <div class="col-6 mt-5">
      <a class="btn btn-primary" href="/profile">Return to Profile</a>
      <a class="btn btn-primary" href="/feed">Return to Feed</a>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>