<%- include('partials/header') -%>
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-6">
      <h2><%= goal.goalArea %></h2>
      <h3><%= goal.goal %></h3>
        <%if(goal.user == user.id){ %>
            <form
            action="/goal/deleteGoal/<%= goal.id %>?_method=DELETE"
            method="POST"
            class="col-3"
            >
            <button class="btn btn-primary fa fa-trash" type="submit"></button>
            </form>
        <%}%>
    </div>
    <div class="col-3 mt-5">
      <h4>Objective 1</h4>
      <p><%= goal.objective1 %></p>
      <h4>Objective 2</h4>
      <p><%= goal.objective2 %></p>
      <h4>Objective 3</h4>
      <p><%= goal.objective3 %></p>
      <h4>Objective 4</h4>
      <p><%= goal.objective4 %></p>
      <h4>Students Assigned</h4>
        <ul class="row list-unstyled">
            <% for(var i=0; i<goal.studentsAssigned.length; i++) {%>
            <li class="col-6 justify-content-between mt-5">
                <a href="/student/<%= goal.studentsAssigned[i]%>">
                    <span class="text"><%= goal.studentsAssigned[i]%></span>
                </a>
            </li>
            <% } %>
        </ul>
      <!-- <p><%= goal.studentsAssigned %></p> -->
    </div>
    <div class="col-6 mt-5">
      <a class="btn btn-primary" href="/profile">Return to Profile</a>
      <a class="btn btn-primary" href="/feed">Return to Feed</a>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>