<%- include('partials/header') -%>

<!--
  This example requires updating your template:

  ```
  <html class="h-full bg-gray-100">
  <body class="h-full">
  ```
-->

  <header class="bg-white">
    <div class="mx-auto max-w-7xl py-6 px-4 sm:px-6 lg:px-8">
      <h1 class="text-3xl font-bold tracking-tight text-gray-900">Profile</h1>
    </div>
  </header>
  <main>
    <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
      <!-- Replace with your content -->
      <p><strong>User Name</strong>: <%= user.userName %></p>
      <p><strong>Email</strong>: <%= user.email %></p>
      <!-- /End replace -->
    </div>
  </main>
</div>


<div class="container">
  <div class="row mt-5">
      <div class="col-6">
          <div>
              <p><strong>User Name</strong>: <%= user.userName %></p>
              <p><strong>Email</strong>: <%= user.email %></p>
              <!-- <a href="/logout" class="col-3 btn btn-primary">Logout</a> -->
          </div>
          <div class="mt-5">
            <h2>Add a Student to Caseload</h2>
            <form action="/student/createStudent" enctype="multipart/form-data" method="POST">
              <div class="mb-3">
                  <label for="studentName" class="form-label">Student Name</label>
                  <input type="text" class="form-control" id="studentName" name="studentName">
              </div>
              <div class="mb-3">
                <label for="disability" class="form-label">Disability</label>
                <textarea class="form-control" id="disability" name="disability"></textarea>
              </div>
              <div class="mb-3">
                <label for="strengths" class="form-label">Strengths</label>
                <textarea class="form-control" id="strengths" name="strengths"></textarea>
              </div>
              <div class="mb-3">
                <label for="areasOfGrowth" class="form-label">Areas of Growth</label>
                <textarea class="form-control" id="areasOfGrowth" name="areasOfGrowth"></textarea>
              </div>
              <div class="mb-3">
                <label for="accommodations" class="form-label">Accommodations</label>
                  <ul>
                    <input id="calculator" type="checkbox" value="Calculator" name="accommodations">
                    <label for="calculator">Calculator</label>
                    <input id="referenceSheet" type="checkbox" value="Reference Sheet" name="accommodations">
                    <label for="referenceSheet">Reference Sheet</label>
                    <input id="graphicOrganizer" type="checkbox" value="Graphic Organizer" name="accommodations">
                    <label for="graphicOrganizer">Graphic Organizer</label>
                  </ul>
                <!-- <textarea class="form-control" id="accommodations" name="accommodations"></textarea> -->
              </div>
              <!-- <div class="mb-3">
                <label for="imgUpload" class="form-label">Image</label>
                <input type="file" class="form-control" id="imageUpload" name="file">
              </div> -->
              <button type="submit" class="flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-8 py-3 text-base font-medium text-white hover:bg-indigo-700 md:py-4 md:px-10 md:text-lg" value="Upload">Submit</button>
            </form>
          </div>
      </div>
      <div class="col-6">
        <ul class="row list-unstyled">
        <% for(var i=0; i<students.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <a href="/student/<%= students[i]._id%>">
              <span class="text"><%= students[i].studentName %></span>  
              <!-- <img class="text" src="<%= students[i].studentName%>"> -->
            </a>
          </li>
        <% } %>
        </ul>
      </div>
        <h2>Add an IEP Goal</h2>
        <form action="/goal/createGoal" enctype="multipart/form-data" method="POST">
          <div class="mb-3">
              <label for="goalArea" class="form-label">Goal Area</label>
                <select id="goalArea" name="goalArea">
                  <option value="Math">Math Skills</option>
                  <option value="Reading and Writing">Reading and Writing Skills</option>
                  <option value="Executive Functioning">Executive Functioning Skills</option>
                  <option value="Self-Regulation">Self-Regulation Skills</option>
                </select>
          </div>
          <div class="mb-3">
            <label for="goal" class="form-label">Goal</label>
            <textarea class="form-control" id="goal" name="goal"></textarea>
          </div>
          <div class="mb-3">
            <label for="objective1" class="form-label">Objective 1</label>
            <textarea class="form-control" id="objective1" name="objective1"></textarea>
          </div>
          <div class="mb-3">
            <label for="objective2" class="form-label">Objective 2</label>
            <textarea class="form-control" id="objective2" name="objective2"></textarea>
          </div>
          <div class="mb-3">
            <label for="objective3" class="form-label">Objective 3</label>
            <textarea class="form-control" id="objective3" name="objective3"></textarea>
          </div>
          <div class="mb-3">
            <label for="objective4" class="form-label">Objective 4</label>
            <textarea class="form-control" id="objective4" name="objective4"></textarea>
          </div>
          <div class="mb-3">
            <label for="studentsAssigned" class="form-label">Students Assigned</label>
            <ul class="row list-unstyled">
              <% for(var i=0; i<students.length; i++) {%>
                <li class="col-6 justify-content-between mt-5">
                  <input id="<%=students[i]._id%>" type="checkbox" value="<%=students[i]._id%>" name="studentsAssigned">
                  <label for="<%=students[i].studentName%>"><%=students[i].studentName%></label>
                </li>
              <% } %>
              </ul> 
          </div>
          <!-- <div class="mb-3">
            <label for="imgUpload" class="form-label">Image</label>
            <input type="file" class="form-control" id="imageUpload" name="file">
          </div> -->
          <button type="submit" class="flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-8 py-3 text-base font-medium text-white hover:bg-indigo-700 md:py-4 md:px-10 md:text-lg" value="Upload">Submit</button>
        <div class="row justify-content-center mt-5">
          <a class="flex w-half items-center justify-center rounded-md border border-transparent bg-indigo-600 px-8 py-3 text-base font-medium text-white hover:bg-indigo-700 md:py-4 md:px-10 md:text-lg" href="/bank">View Goal Bank</a>
        </div>  
      </div>  
    </div>
  </div>
</div>
<%- include('partials/footer') -%>