<%- include('partials/header') -%>
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-6">
      <h2><%= student.studentName %></h2>
        <!-- <%if(student.user == user.id){ %>
        <form
          action="/student/deleteStudent/<%= student.id %>?_method=DELETE"
          method="POST"
          class="col-3"
        >
          <button class="btn btn-primary fa fa-trash" type="submit"></button>
        </form>
        <%}%> -->
      </div>
    </div>
    <div class="col-3 mt-5">
      <h4>Disability</h4>
      <p><%= student.disability %></p>
      <h4>Strengths</h4>
      <p><%= student.strengths %></p>
      <h4>Areas of Growth</h4>
      <p><%= student.areasOfGrowth %></p>
      <h4>Accommodations</h4>
      <p><%= student.accommodations %></p>
    </div>
    <div class="col-6 mt-5">
      <a class="btn btn-primary" href="/profile">Return to Profile</a>
      <a class="btn btn-primary" href="/feed">Return to Feed</a>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>
